/* Change Password css file */
.button{
    -fx-font-size: 20px;
    -fx-pref-width:200px;
    -fx-pref-height:50px;
    -fx-font-family: "Georgia";
    -fx-border-radius:4px;
    -fx-border-color:black;
    -fx-border-width: 1px;
}
.button:hover{
	-fx-color:#dcddde;
}
#header{
	-fx-font-size:36px;
	-fx-translate-x:-220px;
	-fx-translate-y:-240px;
}
#successfulOperation{
	-fx-font-size:20px;
	-fx-translate-y:165px;
}
#passwdField{
	-fx-max-width:270px;
	-fx-max-height:40px;
	-fx-font-size:15px;
}
#newPasswdField{
	-fx-max-width:270px;
	-fx-max-height:40px;
	-fx-font-size:15px;
	-fx-translate-y:60px;
}
#repeatNewPasswdField{
	-fx-max-width:270px;
	-fx-max-height:40px;
	-fx-font-size:15px;
	-fx-translate-y:120px;
}
#passwdLabel{
	-fx-font-size:23px;
	-fx-translate-x:-174px;
}
#newPasswdLabel{
	-fx-font-size:23px;
	-fx-translate-x:-204px;
	-fx-translate-y:60px;
}
#repeatNewPasswdLabel{
	-fx-font-size:23px;
	-fx-translate-x:-244px;
	-fx-translate-y:117px;
}
#changePasswd{
	-fx-font-size: 23px;
    -fx-pref-width:200px;
    -fx-pref-height:46px;
    -fx-translate-y:210px;
}
#backToUserMenu{
	-fx-font-size: 25px;
    -fx-pref-width:150px;
    -fx-pref-height:50px;
    -fx-translate-x:-310px;
    -fx-translate-y:250px;
}
.label{
	-fx-font-family: "Georgia";
}